@using MudBlazor
@inherits BaseLayout

<MudThemeProvider IsDarkMode="IsDarkMode" Theme="Theme"/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout Style="height: 100vh; overflow: hidden;">
    <MudMainContent Class="pa-0 d-flex flex-column"
                    style=@($"height: 100vh; background-color: {(IsDarkMode ? Theme.PaletteDark.BackgroundGray : Theme.PaletteLight.BackgroundGray)}")>
        <CascadingValue Value="Theme">
            <CascadingValue Value="IsDarkMode">
                <MudPaper Elevation="2" Class="flex-shrink-0" Style="height: 60px">
                </MudPaper>

                <div class="flex-grow-1 overflow-auto">
                    @Body
                </div>

                <MudPaper Elevation="2" Class="flex-shrink-0" Style="height: 56px">
                    <MudText Align="Align.Center">Made by Novik Vitalii</MudText>
                </MudPaper>
            </CascadingValue>
        </CascadingValue>
    </MudMainContent>
</MudLayout>
