@using MudBlazor
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
<MudContainer MaxWidth="MaxWidth.ExtraLarge">
    @if (DecksState.Value.IsLoading)
    {
        <MudText>@Localizer["Decks_Are_Loading"]</MudText>
    }
    @if (DecksState.Value.Decks is not null)
    {
        @foreach (var deck in DecksState.Value.Decks)
        {
            <DeckListItem DeckDto="deck"></DeckListItem>
        }
        <div class="d-flex justify-content-center align-items-center w-100">
            <MudPagination Color="Color.Primary"
                           Count="@((int)_totalPageCount)"
                           SelectedChanged="ChangePage"></MudPagination>
        </div>
    }
</MudContainer>
