@using MudBlazor
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
<MudContainer Class="d-flex justify-content-center flex-column" MaxWidth="MaxWidth.ExtraLarge">
    @if (DecksState.Value.IsLoading)
    {
        <MudText Typo="Typo.h5" Align="Align.Center">@Localizer["Decks_Are_Loading"]</MudText>
    }
    @if (DecksState.Value.Decks is not null)
    {
        @if (DecksState.Value.Decks.Length == 0)
        {
           <MudText Typo="Typo.h5" Align="Align.Center">@Localizer["Empty"]</MudText>
        }
        @if (DecksState.Value.Decks.Length > 0)
        {
            @foreach (var deck in DecksState.Value.Decks)
            {
                <DeckListItem DeckDto="deck"></DeckListItem>
            }
            <div class="d-flex justify-content-center align-items-center w-100">
                <MudPagination Color="Color.Primary"
                               Count="@((int)_totalPageCount)"
                               SelectedChanged="ChangePage"></MudPagination>
            </div>
        }
    }
</MudContainer>
