@using MudBlazor
<div class="flex gap-1">
    <MudForm @ref="_form" Model="_request">
        <MudTextField
            Required="true"
            Label="@Localizer["Old_Password"]"
            For="() => _request.OldPassword"
            @bind-Value="_request.OldPassword"></MudTextField>
        <MudTextField
            Required="true"
            Label="@Localizer["New_Password"]"
            For="() => _request.NewPassword"
            @bind-Value="_request.NewPassword"></MudTextField>
        <MudTextField
            Required="true"
            Label="@Localizer["New_Password_Confirm"]"
            For="() => _request.NewPasswordConfirm"
            @bind-Value="_request.NewPasswordConfirm"></MudTextField>
        <MudButton Color="Color.Primary" Class="w-25 mt-3 mb-3" Variant="Variant.Filled" OnClick="ChangePasswordAsync">@Localizer["Reset_Password"]</MudButton>
    </MudForm>
</div>
