@using MudBlazor
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
<MudText Typo="Typo.h6">@Localizer["Verify_Email"]</MudText>
<div>
    <MudButton Disabled="UserState.Value.IsEmailVerified" Color="Color.Primary" Variant="Variant.Filled"
               OnClick="VerifyEmailAsync">@(UserState.Value.IsEmailVerified ? Localizer["Email_Already_Verified"] : Localizer["Verify_Button"])</MudButton>
    <MudText Typo="Typo.body1">@Localizer["Is_Verified"] @(UserState.Value.IsEmailVerified ? "✅" : "❌")</MudText>
</div>
