@page "/learning/decks/{deckId:guid}"
@using MudBlazor
@using Learning.Features.Decks.Components
@using Learning.Layouts
@layout DashboardLayout

<MudContainer MaxWidth="MaxWidth.Large">
    <MudContainer class="d-flex align-items-center justify-content-between mt-5 mb-3">
        <MudButton Color="Color.Primary" Variant="Variant.Filled" Href="/learning/decks">
            @Localizer["Back_To_Decks"]
        </MudButton>

        <div>
            <MudButton OnClick="ShowAddWordDialog" Color="Color.Secondary" Variant="Variant.Filled">
                @Localizer["Add_Word"]
            </MudButton>
        </div>
    </MudContainer>
    <DeckComponent DeckId="DeckId"></DeckComponent>
</MudContainer>
